# Supabase
SUPABASE_URL=https://iydbitfaguhhyxbhjirr.supabase.co
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=

# KIE.AI
KIE_API_KEY=
KIE_API_URL=https://api.kie.ai

# Ngrok (dev tunnel)
NGROK_URL=

# Telegram
TG_BOT_TOKEN=
